$black: rgb(20,20,20);
$light_black: rgb(66,66,66);
$light_blue: rgb(189, 255, 244);
$light_red: rgb(255, 154, 154);
$dark_red: rgb(255, 111, 111);
$purple: rgba(212, 87, 212, 0.5);
$page_height: calc(100vh - 80px);
$color-grad-vertical: linear-gradient(45deg ,$light_red, $light_blue);
$color-grad-horizontal: linear-gradient(to left, $light_red, $dark_red);

$border-style: 0px 10px 0px 10px;

*,
*::before,
*::after{
    border:0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow-x: hidden;
}

body {
    background: white;
}

.display_none {
    display: none !important; 
}

.display_flex {
    display: flex;
}

.main_button {
    background: $color-grad-horizontal;
    border-radius: $border-style;
    color: white;
    margin-right: 20px;
    padding: 10px;
    &:hover {
        animation: pulse 1s infinite;
        cursor: pointer;
    }
}

.nav {
    background: white;
    height: 80px;
    width: 100vw;
}

.nav_title {
    color: $dark_red;
    display: block;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
}

.main_container {
    display: flex;
    width: 100vw;
}

.list_container {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: $page_height;
    padding-left: 20px;
    padding-right: 20px;
    width: 40vw;
}

.list_title {
    background: $color_grad_vertical;
    border-radius: 0px 10px 0px 10px;
    color: white;
    font-weight: 700;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    width: auto;
}

.todo_list {
   padding: 0; 
}

.add_todo_button {
    background: $color-grad-horizontal;
    border-radius: $border-style;
    color: white;
    margin-top: 20px;
    padding: 10px;
    width: 50px;
    &:hover {
        animation: pulse 1s infinite;
        cursor: pointer;
    }
}

.add_todo_input_wrapper { 
    align-items: center;
    border-bottom: 1px solid $dark_red;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    width: auto;
}

.add_todo_input {
    border-radius: 0px 10px 0px 10px;
    border: 1px solid $dark_red;
    box-sizing: border-box;
    color: $light_black;
    display: block;
    padding: 10px;
    width: 100%;
    &:focus {
        border: 2px solid $light_blue;
    }
}

.button_wrapper {
    display: flex;
    justify-content: left;
    padding: 20px;
    width: 100%;
}

.create_todo_button {
    background: $color_grad_horizontal;
    border-radius: 0px 5px 0px 5px;
    color: white;
    padding: 10px;
    margin: 10px 0px;
    &:hover {
        animation: pulse 1s infinite;
        cursor: pointer;
    }
}

.cancel_todo_button { 
    color: $dark_red;
    padding: 10px;
    margin: 10px 0px;
    transition: .5s;
    &:hover {
        color: $light_red;
        cursor: pointer;
    }
}

.todo_item {
    border-bottom: 1px solid $light_red;
    box-sizing: border-box;
    padding: 20px 0px 20px 0px;
    width: auto;
    &:hover {
        animation: pulse 1s infinite;
        color: white;
        cursor: pointer;
        background: $color-grad-vertical;
    }
}

.todo_item h3 {
    float: left;
}

.delete_todo_item {
    color: $dark_red;
    float: right;
    &:hover {
        color: $light_red;
        cursor: pointer;
    }
}

.projects_container {
    background: $color-grad-horizontal;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $page_height;
    width: 100%;
}

.projects_title{
    background: $color-grad-vertical;
    border-radius: 0px 15px 0px 15px;
    color: white;
    font-weight: 700;
    padding: 20px;
    width: 90%;
}

.popup_box_container {
    background: rgba(0, 0, 0, 0.575);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.popup_box {
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    height: 80%;
    flex-direction: column;
    left: 0;
    margin: 4.5% auto;
    padding: 50px 30px 50px 30px;
    top: 0;
    width: 40%;
    z-index: 1000;
}

.popup_box_header {
    display: flex;
    justify-content: space-between;
}

.popup_box_content {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.popup_box_title {
    border-radius: $border-style;
    background: $color-grad-horizontal;
    color: white;
    font-size: 40px;
    height: 50px;
    width: 200px;
    padding: 20px;
}

.task_info {
    border: 1px solid $light_red;
    border-radius: $border-style;
    margin-bottom: 10px;
    padding: 10px;
    &:focus {
        border: 2px solid $light_blue;
    }
}

.close_popup { 
    color: $dark_red;
    font-weight: 700;
    font-size: 20px;
    padding: 20px;
    transition: .3s;
    &:hover { 
        cursor: pointer;
        color: $light_blue;
    }
}

.show_todo_title { 
    padding: 10px;
}

.popup_delete_button {
    color: $dark_red;
    padding: 10px;
    transition: .3s;
    &:hover {
        color: $light_blue;
        cursor: pointer;
    }
}

// Animation
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 137, 137, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(184, 184, 184, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(184, 184, 184, 0);
	}
}
